doctype html
html(lang="en")

    head

        include views/_partials/_head

    body

        .wrapper
            // top navbar
            header.topnavbar-wrapper
                include views/_partials/_top-navbar

            // sidebar
            aside.aside-container
                include views/_partials/_sidebar

            // offsidebar
            aside.offsidebar.d-none
                include views/_partials/_offsidebar

            // Main section
            section.section-container

                // Page content
                .content-wrapper

                    block content

            // Page footer
            footer.footer-container
                include views/_partials/_footer


        include views/_partials/_scripts
