extends ../../_layout_page

block content
    .abs-center
        .text-center.my-3
            .h1.mb-3
                sup: em.fa.fa-cog.fa-2x.text-muted.fa-spin.text-info
                em.fa.fa-cog.fa-5x.text-muted.fa-spin.text-purple
                em.fa.fa-cog.fa-lg.text-muted.fa-spin.text-success
            .text-bold.text-lg.mb-3 SITE IS UNDER MAINTENANCE
            p.lead.m-0 We'll back online shortly!
