extends ../../_layout_page

block content
    .block-center.mt-4.wd-xl
        // START card
        .card.card-flat
            .card-header.text-center.bg-dark
                a(href="#")
                    img.block-center(src='img/logo.png', alt='Image')
            .card-body
                p.text-center.py-2 SIGNUP TO GET INSTANT ACCESS.
                form#registerForm(novalidate).mb-3
                    .form-group
                        label.text-muted(for='signupInputEmail1') Email address
                        .input-group.with-focus
                            input#signupInputEmail1.form-control.border-right-0(type='email', placeholder='Enter email', autocomplete="off", required)
                            .input-group-append
                                span.input-group-text.text-muted.bg-transparent.border-left-0
                                    em.fa.fa-envelope
                    .form-group
                        label.text-muted(for='signupInputPassword1') Password
                        .input-group.with-focus
                            input#signupInputPassword1.form-control.border-right-0(type='password', placeholder='Password', autocomplete="off", required)
                            .input-group-append
                                span.input-group-text.text-muted.bg-transparent.border-left-0
                                    em.fa.fa-lock
                    .form-group
                        label.text-muted(for='signupInputRePassword1') Retype Password
                        .input-group.with-focus
                            input#signupInputRePassword1.form-control.border-right-0(type='password', placeholder='Retype Password', autocomplete="off", required, data-parsley-equalto="#signupInputPassword1")
                            .input-group-append
                                span.input-group-text.text-muted.bg-transparent.border-left-0
                                    em.fa.fa-lock
                    .checkbox.c-checkbox.mt-0
                        label
                            input(type='checkbox', value='', required, name="agreed")
                            span.fa.fa-check
                            |  I agree with the
                            a.ml-1(href="#") terms

                    button.btn.btn-block.btn-primary.mt-3(type='submit') Create account

                p.pt-3.text-center Have an account?
                a(href="login.html").btn.btn-block.btn-secondary Signup

        // END card
        include ../_partials/_footer_page
