extends ../../_layout

block active
  - sidebar_active = 'bug-tracker.html'

block content
    .content-heading Bug tracker

    .row
        .col-lg-4
            // Aside card
            .card.b
                .card-body.bb
                    p Overvall progress
                    .d-flex.align-items-center.mb-2
                        .w-100: .progress.progress-xs.m-0: .progress-bar.bg-info(style='width:48%')
                        .ml-auto
                            .col.wd-xxs.text-right: .text-bold.text-muted 48%
                .card-body
                    p Metrics
                    .row.text-center
                        .col-3.col-lg-6.col-xl-3
                            .inline.my-2(data-sparkline="", data-values="20,80", data-type='pie', data-height="50", data-slice-colors='["#edf1f2", "#23b7e5"]')
                            p.mt-3 Issues
                        .col-3.col-lg-6.col-xl-3
                            .inline.my-2(data-sparkline="", data-values="60,40", data-type='pie', data-height="50", data-slice-colors='["#edf1f2", "#27c24c"]')
                            p.mt-3 Bugs
                        .col-3.col-lg-6.col-xl-3
                            .inline.my-2(data-sparkline="", data-values="20,80", data-type='pie', data-height="50", data-slice-colors='["#edf1f2", "#ff902b"]')
                            p.mt-3 Hours
                        .col-3.col-lg-6.col-xl-3
                            .inline.my-2(data-sparkline="", data-values="30,70", data-type='pie', data-height="50", data-slice-colors='["#edf1f2", "#f05050"]')
                            p.mt-3 Assigned
                table.table.bb: tbody
                    tr
                        td: strong Assigned Hours
                        td 68 hs
                    tr
                        td: strong Time Consumed
                        td 32 hs
                    tr
                        td: strong Issues
                        td 19
                    tr
                        td: strong Bugs
                        td 16
                    tr
                        td: strong Health
                        td: em.far.fa-smile.fa-lg.text-warning
                    tr
                        td: strong Commits
                        td 140
                    tr
                        td: strong Recently closed
                        td
                            .list-group(data-height="120", data-scrollable="")
                                table.table.table-bordered.bg-transparent: tbody
                                    tr
                                        td: a(href="").text-muted BI:54678
                                    tr
                                        td: a(href="").text-muted BI:55778
                                    tr
                                        td: a(href="").text-muted BI:56878
                                    tr
                                        td: a(href="").text-muted BI:57978
                                    tr
                                        td: a(href="").text-muted BI:1107
                    tr
                        td: strong Last closed on
                        td 12/01/2016
            // end Aside card

        .col-lg-8

            .mb-3.d-flex
                div
                    button.btn.btn-sm.btn-info(type='button') New ticket
                    button.btn.btn-sm.btn-secondary(type='button')
                        em.fa.fa-user-plus
                    button.btn.btn-sm.btn-secondary(type='button')
                        em.fas.fa-pencil-alt
                    button.btn.btn-sm.btn-secondary(type='button')
                        em.fas.fa-share
                    button.btn.btn-sm.btn-secondary(type='button')
                        em.fa.fa-print
                .ml-auto
                    p.mb-0.mt-1 19 bugs / 16 issues

            .card.b
                .card-body
                    table.table#datatable1.w-100
                        thead
                            tr
                                th Type
                                th #ID
                                th Description
                                th Created
                                th Priority
                                th Asigned
                                th Status
                        tbody
                            tr
                                td: .badge.bg-gray-lighter bug
                                td BI:54678
                                td.text-nowrap: small Maecenas mollis egestas convallis.
                                td 01/01/2016
                                td: .circle.circle-lg.bg-warning(data-toggle="tooltip" data-title="normal")
                                td: a(href="") Sylvia Daniels
                                td: .inline.wd-xxs.badge.badge-success open
                            tr
                                td: .badge.bg-gray-lighter bug
                                td BI:55778
                                td.text-nowrap: small Aliquam felis nibh, ultrices non elementum
                                td 01/05/2016
                                td: .circle.circle-lg(data-toggle="tooltip" data-title="low")
                                td: a(href="") Sherry Carroll
                                td: .inline.wd-xxs.badge.badge-success open
                            tr
                                td: .badge.bg-gray-lighter issue
                                td BI:56878
                                td.text-nowrap: small Aliquam condimentum enim a risus cursus blandit.
                                td 05/01/2016
                                td: .circle.circle-lg.bg-warning(data-toggle="tooltip" data-title="normal")
                                td: a(href="") Mitchell Jones
                                td: .inline.wd-xxs.badge.badge-warning pending
                            tr
                                td: .badge.bg-gray-lighter issue
                                td BI:57978
                                td.text-nowrap: small Sed at libero augue, in euismod tellus.
                                td 01/11/2016
                                td: .circle.circle-lg.bg-warning(data-toggle="tooltip" data-title="normal")
                                td: a(href="") Tracey Parker
                                td: .inline.wd-xxs.badge.badge-warning pending
                            tr
                                td: .badge.bg-gray-lighter bug
                                td BI:1107
                                td.text-nowrap: small Praesent lacinia ultricies neque.
                                td 01/01/2015
                                td: .circle.circle-lg.bg-danger(data-toggle="tooltip" data-title="high")
                                td: a(href="") Warren Gray
                                td: .inline.wd-xxs.badge.badge-danger closed
                            tr
                                td: .badge.bg-gray-lighter issue
                                td BI:1117
                                td.text-nowrap: small Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                td 11/05/2013
                                td: .circle.circle-lg.bg-warning(data-toggle="tooltip" data-title="normal")
                                td: a(href="") Jackson Ramos
                                td: .inline.wd-xxs.badge.badge-success open
                            tr
                                td: .badge.bg-gray-lighter bug
                                td BI:10127
                                td.text-nowrap: small Pellentesque habitant morbi tristique
                                td 05/02/2014
                                td: .circle.circle-lg.bg-warning(data-toggle="tooltip" data-title="normal")
                                td: a(href="") Ernest Berry
                                td: .inline.wd-xxs.badge.badge-danger closed
                            tr
                                td: .badge.bg-gray-lighter bug
                                td BI:54678
                                td.text-nowrap: small Integer venenatis ultrices vulputate.
                                td 01/01/2016
                                td: .circle.circle-lg.bg-warning(data-toggle="tooltip" data-title="normal")
                                td: a(href="") Sylvia Daniels
                                td: .inline.wd-xxs.badge.badge-success open
                            tr
                                td: .badge.bg-gray-lighter issue
                                td BI:55778
                                td.text-nowrap: small Maecenas mollis egestas convallis.
                                td 01/05/2016
                                td: .circle.circle-lg(data-toggle="tooltip" data-title="low")
                                td: a(href="") Sherry Carroll
                                td: .inline.wd-xxs.badge.badge-success open
                            tr
                                td: .badge.bg-gray-lighter bug
                                td BI:56878
                                td.text-nowrap: small Maecenas mollis egestas convallis.
                                td 05/01/2016
                                td: .circle.circle-lg.bg-warning(data-toggle="tooltip" data-title="normal")
                                td: a(href="") Mitchell Jones
                                td: .inline.wd-xxs.badge.badge-warning pending
                            tr
                                td: .badge.bg-gray-lighter issue
                                td BI:57978
                                td.text-nowrap: small Maecenas mollis egestas convallis.
                                td 01/11/2016
                                td: .circle.circle-lg.bg-warning(data-toggle="tooltip" data-title="normal")
                                td: a(href="") Tracey Parker
                                td: .inline.wd-xxs.badge.badge-warning pending
                            tr
                                td: .badge.bg-gray-lighter bug
                                td BI:1107
                                td.text-nowrap: small Maecenas mollis egestas convallis.
                                td 01/01/2015
                                td: .circle.circle-lg.bg-danger(data-toggle="tooltip" data-title="high")
                                td: a(href="") Warren Gray
                                td: .inline.wd-xxs.badge.badge-danger closed
                            tr
                                td: .badge.bg-gray-lighter issue
                                td BI:1117
                                td.text-nowrap: small Maecenas mollis egestas convallis.
                                td 11/05/2013
                                td: .circle.circle-lg.bg-warning(data-toggle="tooltip" data-title="normal")
                                td: a(href="") Jackson Ramos
                                td: .inline.wd-xxs.badge.badge-success open
                            tr
                                td: .badge.bg-gray-lighter issue
                                td BI:10127
                                td.text-nowrap: small Maecenas mollis egestas convallis.
                                td 05/02/2014
                                td: .circle.circle-lg.bg-warning(data-toggle="tooltip" data-title="normal")
                                td: a(href="") Ernest Berry
                                td: .inline.wd-xxs.badge.badge-danger closed
                            tr
                                td: .badge.bg-gray-lighter bug
                                td BI:54678
                                td.text-nowrap: small Maecenas mollis egestas convallis.
                                td 01/01/2016
                                td: .circle.circle-lg.bg-warning(data-toggle="tooltip" data-title="normal")
                                td: a(href="") Sylvia Daniels
                                td: .inline.wd-xxs.badge.badge-success open
                            tr
                                td: .badge.bg-gray-lighter bug
                                td BI:55778
                                td.text-nowrap: small Maecenas mollis egestas convallis.
                                td 01/05/2016
                                td: .circle.circle-lg(data-toggle="tooltip" data-title="low")
                                td: a(href="") Sherry Carroll
                                td: .inline.wd-xxs.badge.badge-success open
                            tr
                                td: .badge.bg-gray-lighter bug
                                td BI:56878
                                td.text-nowrap: small Maecenas mollis egestas convallis.
                                td 05/01/2016
                                td: .circle.circle-lg.bg-warning(data-toggle="tooltip" data-title="normal")
                                td: a(href="") Mitchell Jones
                                td: .inline.wd-xxs.badge.badge-warning pending
                            tr
                                td: .badge.bg-gray-lighter bug
                                td BI:57978
                                td.text-nowrap: small Maecenas mollis egestas convallis.
                                td 01/11/2016
                                td: .circle.circle-lg.bg-warning(data-toggle="tooltip" data-title="normal")
                                td: a(href="") Tracey Parker
                                td: .inline.wd-xxs.badge.badge-warning pending
                            tr
                                td: .badge.bg-gray-lighter bug
                                td BI:1107
                                td.text-nowrap: small Maecenas mollis egestas convallis.
                                td 01/01/2015
                                td: .circle.circle-lg.bg-danger(data-toggle="tooltip" data-title="high")
                                td: a(href="") Warren Gray
                                td: .inline.wd-xxs.badge.badge-danger closed
                            tr
                                td: .badge.bg-gray-lighter bug
                                td BI:1117
                                td.text-nowrap: small Maecenas mollis egestas convallis.
                                td 11/05/2013
                                td: .circle.circle-lg.bg-warning(data-toggle="tooltip" data-title="normal")
                                td: a(href="") Jackson Ramos
                                td: .inline.wd-xxs.badge.badge-success open
                            tr
                                td: .badge.bg-gray-lighter issue
                                td BI:10127
                                td.text-nowrap: small Maecenas mollis egestas convallis.
                                td 05/02/2014
                                td: .circle.circle-lg.bg-warning(data-toggle="tooltip" data-title="normal")
                                td: a(href="") Ernest Berry
                                td: .inline.wd-xxs.badge.badge-danger closed
                            tr
                                td: .badge.bg-gray-lighter issue
                                td BI:54678
                                td.text-nowrap: small Maecenas mollis egestas convallis.
                                td 01/01/2016
                                td: .circle.circle-lg.bg-warning(data-toggle="tooltip" data-title="normal")
                                td: a(href="") Sylvia Daniels
                                td: .inline.wd-xxs.badge.badge-success open
                            tr
                                td: .badge.bg-gray-lighter issue
                                td BI:55778
                                td.text-nowrap: small Maecenas mollis egestas convallis.
                                td 01/05/2016
                                td: .circle.circle-lg(data-toggle="tooltip" data-title="low")
                                td: a(href="") Sherry Carroll
                                td: .inline.wd-xxs.badge.badge-success open
                            tr
                                td: .badge.bg-gray-lighter bug
                                td BI:56878
                                td.text-nowrap: small Maecenas mollis egestas convallis.
                                td 05/01/2016
                                td: .circle.circle-lg.bg-warning(data-toggle="tooltip" data-title="normal")
                                td: a(href="") Mitchell Jones
                                td: .inline.wd-xxs.badge.badge-warning pending
                            tr
                                td: .badge.bg-gray-lighter bug
                                td BI:57978
                                td.text-nowrap: small Maecenas mollis egestas convallis.
                                td 01/11/2016
                                td: .circle.circle-lg.bg-warning(data-toggle="tooltip" data-title="normal")
                                td: a(href="") Tracey Parker
                                td: .inline.wd-xxs.badge.badge-warning pending
                            tr
                                td: .badge.bg-gray-lighter bug
                                td BI:1107
                                td.text-nowrap: small Maecenas mollis egestas convallis.
                                td 01/01/2015
                                td: .circle.circle-lg.bg-danger(data-toggle="tooltip" data-title="high")
                                td: a(href="") Warren Gray
                                td: .inline.wd-xxs.badge.badge-danger closed
                            tr
                                td: .badge.bg-gray-lighter issue
                                td BI:1117
                                td.text-nowrap: small Maecenas mollis egestas convallis.
                                td 11/05/2013
                                td: .circle.circle-lg.bg-warning(data-toggle="tooltip" data-title="normal")
                                td: a(href="") Jackson Ramos
                                td: .inline.wd-xxs.badge.badge-success open
                            tr
                                td: .badge.bg-gray-lighter issue
                                td BI:10127
                                td.text-nowrap: small Maecenas mollis egestas convallis.
                                td 05/02/2014
                                td: .circle.circle-lg.bg-warning(data-toggle="tooltip" data-title="normal")
                                td: a(href="") Ernest Berry
                                td: .inline.wd-xxs.badge.badge-danger closed
                            tr
                                td: .badge.bg-gray-lighter bug
                                td BI:54678
                                td.text-nowrap: small Maecenas mollis egestas convallis.
                                td 01/01/2016
                                td: .circle.circle-lg.bg-warning(data-toggle="tooltip" data-title="normal")
                                td: a(href="") Sylvia Daniels
                                td: .inline.wd-xxs.badge.badge-success open
                            tr
                                td: .badge.bg-gray-lighter issue
                                td BI:55778
                                td.text-nowrap: small Maecenas mollis egestas convallis.
                                td 01/05/2016
                                td: .circle.circle-lg(data-toggle="tooltip" data-title="low")
                                td: a(href="") Sherry Carroll
                                td: .inline.wd-xxs.badge.badge-success open
                            tr
                                td: .badge.bg-gray-lighter issue
                                td BI:56878
                                td.text-nowrap: small Maecenas mollis egestas convallis.
                                td 05/01/2016
                                td: .circle.circle-lg.bg-warning(data-toggle="tooltip" data-title="normal")
                                td: a(href="") Mitchell Jones
                                td: .inline.wd-xxs.badge.badge-warning pending
                            tr
                                td: .badge.bg-gray-lighter issue
                                td BI:57978
                                td.text-nowrap: small Maecenas mollis egestas convallis.
                                td 01/11/2016
                                td: .circle.circle-lg.bg-warning(data-toggle="tooltip" data-title="normal")
                                td: a(href="") Tracey Parker
                                td: .inline.wd-xxs.badge.badge-warning pending
                            tr
                                td: .badge.bg-gray-lighter bug
                                td BI:1107
                                td.text-nowrap: small Maecenas mollis egestas convallis.
                                td 01/01/2015
                                td: .circle.circle-lg.bg-danger(data-toggle="tooltip" data-title="high")
                                td: a(href="") Warren Gray
                                td: .inline.wd-xxs.badge.badge-danger closed
                            tr
                                td: .badge.bg-gray-lighter bug
                                td BI:1117
                                td.text-nowrap: small Maecenas mollis egestas convallis.
                                td 11/05/2013
                                td: .circle.circle-lg.bg-warning(data-toggle="tooltip" data-title="normal")
                                td: a(href="") Jackson Ramos
                                td: .inline.wd-xxs.badge.badge-success open
                            tr
                                td: .badge.bg-gray-lighter issue
                                td BI:10127
                                td.text-nowrap: small Maecenas mollis egestas convallis.
                                td 05/02/2014
                                td: .circle.circle-lg.bg-warning(data-toggle="tooltip" data-title="normal")
                                td: a(href="") Ernest Berry
                                td: .inline.wd-xxs.badge.badge-danger closed

block vendor_css
    // Datatables
    link(rel='stylesheet', href='vendor/datatables.net-bs4/css/dataTables.bootstrap4.css')
    link(rel='stylesheet', href='vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css')
    link(rel='stylesheet', href='vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css')
block vendor_js
    // SLIMSCROLL
    script(src='vendor/jquery-slimscroll/jquery.slimscroll.js')
    // SPARKLINE
    script(src='vendor/jquery-sparkline/jquery.sparkline.js')
    // Datatables
    script(src='vendor/datatables.net/js/jquery.dataTables.js')
    script(src='vendor/datatables.net-bs4/js/dataTables.bootstrap4.js')
    script(src='vendor/datatables.net-buttons/js/dataTables.buttons.js')
    script(src='vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js')
    script(src='vendor/datatables.net-buttons/js/buttons.colVis.js')
    script(src='vendor/datatables.net-buttons/js/buttons.flash.js')
    script(src='vendor/datatables.net-buttons/js/buttons.html5.js')
    script(src='vendor/datatables.net-buttons/js/buttons.print.js')
    script(src='vendor/datatables.net-keytable/js/dataTables.keyTable.js')
    script(src='vendor/datatables.net-responsive/js/dataTables.responsive.js')
    script(src='vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js')
