extends ../../_layout

block active
    - sidebar_active = 'calendar.html'

block content
    .content-heading
        div
            | Full Calendar
            small Drag and Drop events and tasks

    // START row
    .calendar-app
        .row
            .col-xl-3.col-lg-4
                .row
                    .col-lg-12.col-md-6.col-12
                        // START card
                        .card.card-default
                            .card-header
                                h4.card-title Draggable Events
                            // Default external events list
                            .external-events-trash
                                .card-body
                                    .external-events
                                        .bg-green Lunch
                                        .bg-danger Go home
                                        .bg-info Do homework
                                        .bg-warning Work on UI design
                                        .bg-inverse Sleep tight
                                    p
                                        span.checkbox.c-checkbox
                                            label
                                                input#remove-after-drop(type='checkbox')
                                                span.fa.fa-check
                                                | Remove after Drop
                        // END card
                    .col-lg-12.col-md-6.col-12
                        // START card
                        .card.card-default
                            .card-header
                                h3.card-title Create Event
                            .card-body
                                .input-group.mb-2
                                    input.form-control.external-event-name(type='text', placeholder="Event name...")
                                    .input-group-btn
                                        button.btn.btn-secondary.external-event-add-btn(type='button') Add
                                p.text-muted: small Choose a Color
                                ul.list-inline.external-event-color-selector
                                    li.list-inline-item.p-0: a.circle.bg-danger.circle-xl.selected(href='#')
                                    li.list-inline-item.p-0: a.circle.bg-primary.circle-xl(href='#')
                                    li.list-inline-item.p-0: a.circle.bg-info.circle-xl(href='#')
                                    li.list-inline-item.p-0: a.circle.bg-success.circle-xl(href='#')
                                    li.list-inline-item.p-0: a.circle.bg-warning.circle-xl(href='#')
                                    li.list-inline-item.p-0: a.circle.bg-green.circle-xl(href='#')
                                    li.list-inline-item.p-0: a.circle.bg-pink.circle-xl(href='#')
                                    li.list-inline-item.p-0: a.circle.bg-inverse.circle-xl(href='#')
                                    li.list-inline-item.p-0: a.circle.bg-purple.circle-xl(href='#')
                        // END card
            .col-xl-9.col-lg-8
                // START card
                .card.card-default
                    .card-body
                        // START calendar
                        #calendar
                        // END calendar
                // END card
        // END row

block vendor_css
    // FULLCALENDAR
    link(rel='stylesheet', href='vendor/fullcalendar/dist/fullcalendar.css')

block vendor_js
    // JQUERY UI
    script(src='vendor/components-jqueryui/jquery-ui.js')
    script(src='vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js')
    // MOMENT JS
    script(src='vendor/moment/min/moment-with-locales.js')
    // FULLCALENDAR
    script(src='vendor/fullcalendar/dist/fullcalendar.js')
    script(src='vendor/fullcalendar/dist/gcal.js')
