extends ../../_layout

block active
    - sidebar_active = 'ecommerce-product-view.html'

block content
    .content-heading Product #000123

    form.card
        .ie-fix-flex(role='tabpanel')
            ul.nav.nav-tabs.nav-justified
                li.nav-item(role='presentation')
                    a.nav-link.active(href='#edit', aria-controls='edit', role='tab', data-toggle='tab') Product Edit
                li.nav-item(role='presentation')
                    a.nav-link(href='#seo', aria-controls='seo', role='tab', data-toggle='tab') SEO Metadata
                li.nav-item(role='presentation')
                    a.nav-link(href='#picture', aria-controls='picture', role='tab', data-toggle='tab') Pictures
            .tab-content
                #edit.tab-pane.active(role='tabpanel')
                    fieldset: .form-group.row
                        label.col-lg-2.col-form-label Name:
                        .col-lg-10
                            input.form-control(type='text', placeholder='Product name..')
                    fieldset: .form-group.row
                        label.col-lg-2.col-form-label Description:
                        .col-lg-10
                            textarea.form-control(cols="5", placeholder='Short description..')
                    fieldset: .form-group.row
                        label.col-lg-2.col-form-label Price:
                        .col-lg-10
                            input.form-control(type='text', placeholder='$ 123.20')
                    fieldset: .form-group.row
                        label.col-lg-2.col-form-label Quantity:
                        .col-lg-10
                            input.form-control(type='number', placeholder='0', min="0")
                    fieldset: .form-group.row
                        label.col-lg-2.col-form-label Tax :
                        .col-lg-10
                            input.form-control(type='text', placeholder='20%')
                    fieldset: .form-group.row
                        label.col-lg-2.col-form-label Status:
                        .col-lg-10
                            select.form-control
                                option(value='') Select..
                                option(value='0') Public
                                option(value='1') Pending
                #seo.tab-pane(role='tabpanel')
                    fieldset: .form-group.row
                        label.col-lg-2.col-form-label Title
                        .col-lg-10
                            input.form-control(type='text', placeholder="Brief description..")
                    fieldset: .form-group.row
                        label.col-lg-2.col-form-label Description
                        .col-lg-10
                            textarea.form-control(rows='5', placeholder='Max 255 characters...')
                    fieldset: .form-group.row
                        label.col-lg-2.col-form-label Keywords
                        .col-lg-10
                            textarea.form-control(rows='5', placeholder='Max 1000 characters...')
                #picture.tab-pane(role='tabpanel')
                    .row.mb-3
                        .col-3
                            strong Preview
                        .col-9
                            strong Details
                    .row.mb-3.pb-3.bb
                        .col-6.col-md-3
                            a(href='#', title='Product 1')
                                img.img-fluid(src='img/bg7.jpg', alt='Product 1')
                        .col-6.col-md-9
                            fieldset: .form-group.row
                                input.form-control(type='text', placeholder="Brief description..")
                            p: strong Picture type
                            .c-radio.c-radio-nofont
                                label
                                    input(type='radio', name='prod1-pic', value='option1', checked='')
                                    span
                                    | Primary
                            .c-radio.c-radio-nofont
                                label
                                    input(type='radio', name='prod1-pic', value='option2')
                                    span
                                    | Thumbnail
                            .c-radio.c-radio-nofont
                                label
                                    input(type='radio', name='prod1-pic', value='option3')
                                    span
                                    | Gallery
                            .text-right
                                button.btn.btn-sm.btn-danger(type="button")
                                    em.fa.fa-times-circle.fa-fw
                                    | Remove
                    .row.mb-3.pb-3.bb
                        .col-6.col-md-3
                            a(href='#', title='Product 2')
                                img.img-fluid(src='img/bg8.jpg', alt='Product 1')
                        .col-6.col-md-9
                            fieldset: .form-group.row
                                input.form-control(type='text', placeholder="Brief description..")
                            p: strong Picture type
                            .c-radio.c-radio-nofont
                                label
                                    input(type='radio', name='prod2-pic', value='option1', checked='')
                                    span
                                    | Primary
                            .c-radio.c-radio-nofont
                                label
                                    input(type='radio', name='prod2-pic', value='option2')
                                    span
                                    | Thumbnail
                            .c-radio.c-radio-nofont
                                label
                                    input(type='radio', name='prod2-pic', value='option3')
                                    span
                                    | Gallery
                            .text-right
                                button.btn.btn-sm.btn-danger(type="button")
                                    em.fa.fa-times-circle.fa-fw
                                    | Remove
                    .row.mb-3.pb-3
                        .col-6.col-md-3
                            a(href='#', title='Product 3')
                                img.img-fluid(src='img/bg10.jpg', alt='Product 1')
                        .col-6.col-md-9
                            fieldset: .form-group.row
                                input.form-control(type='text', placeholder="Brief description..")
                            p: strong Picture type
                            .c-radio.c-radio-nofont
                                label
                                    input(type='radio', name='prod3-pic', value='option1', checked='')
                                    span
                                    | Primary
                            .c-radio.c-radio-nofont
                                label
                                    input(type='radio', name='prod3-pic', value='option2')
                                    span
                                    | Thumbnail
                            .c-radio.c-radio-nofont
                                label
                                    input(type='radio', name='prod3-pic', value='option3')
                                    span
                                    | Gallery
                            .text-right
                                button.btn.btn-sm.btn-danger(type="button")
                                    em.fa.fa-times-circle.fa-fw
                                    | Remove

    .text-right.mt-3
        button.btn.btn-warning(type="button") Discard
        button.btn.btn-success(type="button") Save