extends ../../_layout

block active
    - sidebar_active = 'forum-topics.html'

block content
    .content-heading
        div
            | Forum - Topics
            small Category ID: 1324
        .ml-auto
            a.btn.btn-sm.btn-secondary.text-sm(href="") &lt; back

    .card.card-default
        table.table.table-striped
            thead
                tr
                    th.h4(style="width: 50%") Welcome
                    th
            tbody
                tr
                    td
                        h4
                            a(href="")
                                strong Powered by AngularJS
                        .text-muted.text-sm
                            span
                                strong.mr-1 17
                                | views
                            span.mx-1
                            span
                                strong.mr-1 19
                                | comments
                    td.text-right.d-none.d-lg-table-cell
                        .text-muted
                            small.mr-1 Started by
                            a.mr-1(href='') Victoria West
                            small on March 10, 2015
                tr
                    td
                        h4
                            a(href="")
                                strong How to create an AngularJS admin GUI?
                        .text-muted.text-sm
                            span
                                strong.mr-1 7
                                | views
                            span.mx-1
                            span
                                strong.mr-1 13
                                | comments
                    td.text-right.d-none.d-lg-table-cell
                        .text-muted
                            small.mr-1 Started by
                            a.mr-1(href='') Olivia Reynolds
                            small on March 10, 2015
                tr
                    td
                        h4
                            a(href="")
                                strong Issue found..
                        .text-muted.text-sm
                            span
                                strong.mr-1 13
                                | views
                            span.mx-1
                            span
                                strong.mr-1 500
                                | comments
                    td.text-right.d-none.d-lg-table-cell
                        .text-muted
                            small.mr-1 Started by
                            a.mr-1(href='') Michelle Lane
                            small on March 10, 2015
                tr
                    td
                        h4
                            a(href="")
                                strong Share your application
                        .text-muted.text-sm
                            span
                                strong.mr-1 98
                                | views
                            span.mx-1
                            span
                                strong.mr-1 1900
                                | comments
                    td.text-right.d-none.d-lg-table-cell
                        .text-muted
                            small.mr-1 Started by
                            a.mr-1(href='') Derek Jensen
                            small on March 10, 2015
                tr
                    td
                        h4
                            a(href="")
                                strong Angle - Angular Admin Template
                        .text-muted.text-sm
                            span
                                strong.mr-1 17
                                | views
                            span.mx-1
                            span
                                strong.mr-1 19
                                | comments
                    td.text-right.d-none.d-lg-table-cell
                        .text-muted
                            small.mr-1 Started by
                            a.mr-1(href='') Colleen Cole
                            small on March 10, 2015
                tr
                    td
                        h4
                            a(href="")
                                strong Take a breakfast and happy coding
                        .text-muted.text-sm
                            span
                                strong.mr-1 31
                                | view
                            span.mx-1
                            span
                                strong.mr-1 190
                                | comments
                    td.text-right.d-none.d-lg-table-cell
                        .text-muted
                            small.mr-1 Started by
                            a.mr-1(href='') Charlene Barrett
                            small on March 10, 2015
                tr
                    td
                        h4
                            a(href="")
                                strong Sed vitae nisi eget metus semper congue.
                        .text-muted.text-sm
                            span
                                strong.mr-1 27
                                | views
                            span.mx-1
                            span
                                strong.mr-1 419
                                | comments
                    td.text-right.d-none.d-lg-table-cell
                        .text-muted
                            small.mr-1 Started by
                            a.mr-1(href='') Austin Montgomery
                            small on March 10, 2015