extends ../../_layout

block active
    - sidebar_active = 'search.html'

block content
    .content-heading
        div
            | Search
            small Search and filter results

    .row
        .col-lg-9
            .form-group.mb-4
                input.form-control.mb-2(type='text', placeholder="Search products, people, apps, etc.")
                .d-flex
                    button.btn.btn-secondary(type="button") Search
                    .ml-auto
                        label.c-checkbox
                            input#inlineCheckbox10(type='checkbox', value='option1')
                            span.fa.fa-check
                            |  Products
                        label.c-checkbox
                            input#inlineCheckbox20(type='checkbox', value='option2')
                            span.fa.fa-check
                            |  People
                        label.c-checkbox
                            input#inlineCheckbox30(type='checkbox', value='option3')
                            span.fa.fa-check
                            |  Apps

            // START card
            .card.card-default
                .card-header
                    a(href="#", data-tool="panel-refresh", data-toggle="tooltip", title="Refresh Card").float-right
                        em.fas.fa-sync
                    | Search Results
                // START table-responsive
                .table-responsive
                    table.table.table-striped.table-bordered.table-hover
                        thead
                            tr
                                th(data-check-all="").wd-xxs
                                    .checkbox.c-checkbox(data-toggle="tooltip",data-title="Check All")
                                        label.m-0
                                            input(type='checkbox')
                                            span.fa.fa-check
                                th Description
                        tbody
                            tr
                                td
                                    .checkbox.c-checkbox
                                        label
                                            input(type='checkbox')
                                            span.fa.fa-check
                                td
                                    .media.align-items-center
                                        a.mr-3(href='#')
                                            img.img-fluid.rounded.thumb64(src="img/dummy.png", alt="")
                                        .media-body.d-flex
                                            div
                                                h4.m-0 Product 1
                                                small.text-muted Category1, Category2
                                                p Sed gravida auctor odio. Sed viverra rutrum hendrerit. Praesent dapibus justo dolor. Suspendisse rhoncus consectetur eros vehicula accumsan.
                                            .ml-auto
                                                .btn.btn-info.btn-sm View
                            tr
                                td
                                    .checkbox.c-checkbox
                                        label
                                            input(type='checkbox')
                                            span.fa.fa-check
                                td
                                    .media.align-items-center
                                        a.mr-3(href='#')
                                            img.img-fluid.rounded.thumb64(src="img/dummy.png", alt="")
                                        .media-body.d-flex
                                            div
                                                h4.m-0 Product 2
                                                small.text-muted Category1, Category2
                                                p Sed gravida auctor odio. Sed viverra rutrum hendrerit. Praesent dapibus justo dolor. Suspendisse rhoncus consectetur eros vehicula accumsan.
                                            .ml-auto
                                                .btn.btn-info.btn-sm View
                            tr
                                td
                                    .checkbox.c-checkbox
                                        label
                                            input(type='checkbox')
                                            span.fa.fa-check
                                td
                                    .media.align-items-center
                                        a.mr-3(href='#')
                                            img.img-fluid.rounded.thumb64(src="img/dummy.png", alt="")
                                        .media-body.d-flex
                                            div
                                                h4.m-0 Product 3
                                                small.text-muted Category1, Category2
                                                p Sed gravida auctor odio. Sed viverra rutrum hendrerit. Praesent dapibus justo dolor. Suspendisse rhoncus consectetur eros vehicula accumsan.
                                            .ml-auto
                                                .btn.btn-info.btn-sm View
                            tr
                                td
                                    .checkbox.c-checkbox
                                        label
                                            input(type='checkbox')
                                            span.fa.fa-check
                                td
                                    .media.align-items-center
                                        a.mr-3(href='#')
                                            img.img-fluid.rounded.thumb64(src="img/dummy.png", alt="")
                                        .media-body.d-flex
                                            div
                                                h4.m-0 Product 4
                                                small.text-muted Category1, Category2
                                                p Sed gravida auctor odio. Sed viverra rutrum hendrerit. Praesent dapibus justo dolor. Suspendisse rhoncus consectetur eros vehicula accumsan.
                                            .ml-auto
                                                .btn.btn-info.btn-sm View
                            tr
                                td
                                    .checkbox.c-checkbox
                                        label
                                            input(type='checkbox')
                                            span.fa.fa-check
                                td
                                    .media.align-items-center
                                        a.mr-3(href='#')
                                            img.img-fluid.rounded.thumb64(src="img/dummy.png", alt="")
                                        .media-body.d-flex
                                            div
                                                h4.m-0 Product 5
                                                small.text-muted Category1, Category2
                                                p Sed gravida auctor odio. Sed viverra rutrum hendrerit. Praesent dapibus justo dolor. Suspendisse rhoncus consectetur eros vehicula accumsan.
                                            .ml-auto
                                                .btn.btn-info.btn-sm View


                // END table-responsive
                .card-footer
                    .d-flex
                        button.btn.btn-sm.btn-secondary Clear
                        nav.ml-auto
                            ul.pagination.pagination-sm
                                li.page-item.active: a.page-link(href='#') 1
                                li.page-item: a.page-link(href='#') 2
                                li.page-item: a.page-link(href='#') 3
                                li.page-item: a.page-link(href='#') »
            // END card

        .col-lg-3
            h3.m-0.pb-3 Filters

            .form-group.mb-4
                label.col-form-label.mb-2 by Text
                br
                select.chosen-select.form-control
                    //- option(value='')
                    optgroup(label='NFC EAST')
                        option Dallas Cowboys
                        option New York Giants
                        option Philadelphia Eagles
                        option Washington Redskins
                    optgroup(label='NFC NORTH')
                        option Chicago Bears
                        option Detroit Lions
                        option Green Bay Packers
                        option Minnesota Vikings
                    optgroup(label='NFC SOUTH')
                        option Atlanta Falcons
                        option Carolina Panthers
                        option New Orleans Saints
                        option Tampa Bay Buccaneers
                    optgroup(label='NFC WEST')
                        option Arizona Cardinals
                        option St. Louis Rams
                        option San Francisco 49ers
                        option Seattle Seahawks
                    optgroup(label='AFC EAST')
                        option Buffalo Bills
                        option Miami Dolphins
                        option New England Patriots
                        option New York Jets
                    optgroup(label='AFC NORTH')
                        option Baltimore Ravens
                        option Cincinnati Bengals
                        option Cleveland Browns
                        option Pittsburgh Steelers
                    optgroup(label='AFC SOUTH')
                        option Houston Texans
                        option Indianapolis Colts
                        option Jacksonville Jaguars
                        option Tennessee Titans
                    optgroup(label='AFC WEST')
                        option Denver Broncos
                        option Kansas City Chiefs
                        option Oakland Raiders
                        option San Diego Chargers

            .form-group
                label.col-form-label.mb-2 by Date
                br
                #datetimepicker.input-group.date
                    input.form-control(type='text')
                    span.input-group-append.input-group-addon
                        span.input-group-text.fas.fa-calendar-alt
            .form-group.mb-4
                label.col-form-label.mb-2 by Range
                br
                .slider-fw
                    input#sl2.slider(data-ui-slider="", type='text', value='', data-slider-min='10', data-slider-max='1000', data-slider-step='5', data-slider-value='[250,750]')

            button.btn.btn-secondary.btn-lg Apply

block vendor_css
    // SLIDER CTRL
    link(rel='stylesheet', href='vendor/bootstrap-slider/dist/css/bootstrap-slider.css')
    // CHOSEN
    link(rel='stylesheet', href='vendor/chosen-js/chosen.css')
    // DATETIMEPICKER
    link(rel='stylesheet', href='vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.css')
block vendor_js
    // CHOSEN
    script(src='vendor/chosen-js/chosen.jquery.js')
    // SLIDER CTRL
    script(src='vendor/bootstrap-slider/dist/bootstrap-slider.js')
    // MOMENT JS
    script(src='vendor/moment/min/moment-with-locales.js')
    // DATETIMEPICKER
    script(src='vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js')
