extends ../../_layout

block active
  - sidebar_active = 'icons-weather.html'

block content
    .content-heading
        div
            | Weather Icons
            small Static and animated weather themed icons, ready to be dropped right into your project.
    .row
        .col-lg-12
            p.lead.mt-3 Daytime
            .row
                .col-lg-4
                    .row
                        .col-2.text-md
                                i.wi.wi-day-sunny
                        .col-10 .wi.wi-day-sunny
                    .row
                        .col-2.text-md
                                i.wi.wi-day-cloudy
                        .col-10 .wi.wi-day-cloudy
                    .row
                        .col-2.text-md
                                i.wi.wi-day-cloudy-gusts
                        .col-10 .wi.wi-day-cloudy-gusts
                    .row
                        .col-2.text-md
                                i.wi.wi-day-cloudy-windy
                        .col-10 .wi.wi-day-cloudy-windy
                    .row
                        .col-2.text-md
                                i.wi.wi-day-fog
                        .col-10 .wi.wi-day-fog
                    .row
                        .col-2.text-md
                                i.wi.wi-day-hail
                        .col-10 .wi.wi-day-hail
                    .row
                        .col-2.text-md
                                i.wi.wi-day-haze
                        .col-10 .wi-day-haze
                    .row
                        .col-2.text-md
                                i.wi.wi-day-lightning
                        .col-10 .wi-day-lightning
                .col-lg-4
                    .row
                        .col-2.text-md
                                i.wi.wi-day-rain
                        .col-10 .wi-day-rain
                    .row
                        .col-2.text-md
                                i.wi.wi-day-rain-mix
                        .col-10 .wi-day-rain-mix
                    .row
                        .col-2.text-md
                                i.wi.wi-day-rain-wind
                        .col-10 .wi-day-rain-wind
                    .row
                        .col-2.text-md
                                i.wi.wi-day-showers
                        .col-10 .wi-day-showers
                    .row
                        .col-2.text-md
                                i.wi.wi-day-sleet
                        .col-10 .wi-day-sleet
                    .row
                        .col-2.text-md
                                i.wi.wi-day-sleet-storm
                        .col-10 .wi-day-sleet-storm
                    .row
                        .col-2.text-md
                                i.wi.wi-day-snow
                        .col-10 .wi-day-snow
                    .row
                        .col-2.text-md
                                i.wi.wi-day-snow-thunderstorm
                        .col-10 .wi-day-snow-thunderstorm
                    .row
                        .col-2.text-md
                                i.wi.wi-day-snow-wind
                        .col-10 .wi-day-snow-wind
                .col-lg-4
                    .row
                        .col-2.text-md
                                i.wi.wi-day-sprinkle
                        .col-10 .wi-day-sprinkle
                    .row
                        .col-2.text-md
                                i.wi.wi-day-storm-showers
                        .col-10 .wi-day-storm-showers
                    .row
                        .col-2.text-md
                                i.wi.wi-day-sunny-overcast
                        .col-10 .wi-day-sunny-overcast
                    .row
                        .col-2.text-md
                                i.wi.wi-day-thunderstorm
                        .col-10 .wi-day-thunderstorm
                    .row
                        .col-2.text-md
                                i.wi.wi-day-windy
                        .col-10 .wi-day-windy
                    .row
                        .col-2.text-md
                                i.wi.wi-solar-eclipse
                        .col-10 .wi-solar-eclipse
                    .row
                        .col-2.text-md
                                i.wi.wi-hot
                        .col-10 .wi-hot
                    .row
                        .col-2.text-md
                                i.wi.wi-day-cloudy-high
                        .col-10 .wi-day-cloudy-high
                    .row
                        .col-2.text-md
                                i.wi.wi-day-light-wind
                        .col-10 .wi-day-light-wind
        .col-lg-12
            p.lead.mt-3 Nighttime
            .row
                .col-lg-4
                    .row
                        .col-2.text-md
                                i.wi.wi-night-clear
                        .col-10 .wi-night-clear
                    .row
                        .col-2.text-md
                                i.wi.wi-night-alt-cloudy
                        .col-10 .wi-night-alt-cloudy
                    .row
                        .col-2.text-md
                                i.wi.wi-night-alt-cloudy-gusts
                        .col-10 .wi-night-alt-cloudy-gusts
                    .row
                        .col-2.text-md
                                i.wi.wi-night-alt-cloudy-windy
                        .col-10 .wi-night-alt-cloudy-windy
                    .row
                        .col-2.text-md
                                i.wi.wi-night-alt-hail
                        .col-10 .wi-night-alt-hail
                    .row
                        .col-2.text-md
                                i.wi.wi-night-alt-lightning
                        .col-10 .wi-night-alt-lightning
                    .row
                        .col-2.text-md
                                i.wi.wi-night-alt-rain
                        .col-10 .wi-night-alt-rain
                    .row
                        .col-2.text-md
                                i.wi.wi-night-alt-rain-mix
                        .col-10 .wi-night-alt-rain-mix
                    .row
                        .col-2.text-md
                                i.wi.wi-night-alt-rain-wind
                        .col-10 .wi-night-alt-rain-wind
                    .row
                        .col-2.text-md
                                i.wi.wi-night-alt-showers
                        .col-10 .wi-night-alt-showers
                    .row
                        .col-2.text-md
                                i.wi.wi-night-alt-sleet
                        .col-10 .wi-night-alt-sleet
                    .row
                        .col-2.text-md
                                i.wi.wi-night-alt-sleet-storm
                        .col-10 .wi-night-alt-sleet-storm
                    .row
                        .col-2.text-md
                                i.wi.wi-night-alt-snow
                        .col-10 .wi-night-alt-snow
                    .row
                        .col-2.text-md
                                i.wi.wi-night-alt-snow-thunderstorm
                        .col-10 .wi-night-alt-snow-thunderstorm
                    .row
                        .col-2.text-md
                                i.wi.wi-night-alt-snow-wind
                        .col-10 .wi-night-alt-snow-wind
                .col-lg-4
                    .row
                        .col-2.text-md
                                i.wi.wi-night-alt-sprinkle
                        .col-10 .wi-night-alt-sprinkle
                    .row
                        .col-2.text-md
                                i.wi.wi-night-alt-storm-showers
                        .col-10 .wi-night-alt-storm-showers
                    .row
                        .col-2.text-md
                                i.wi.wi-night-alt-thunderstorm
                        .col-10 .wi-night-alt-thunderstorm
                    .row
                        .col-2.text-md
                                i.wi.wi-night-cloudy
                        .col-10 .wi-night-cloudy
                    .row
                        .col-2.text-md
                                i.wi.wi-night-cloudy-gusts
                        .col-10 .wi-night-cloudy-gusts
                    .row
                        .col-2.text-md
                                i.wi.wi-night-cloudy-windy
                        .col-10 .wi-night-cloudy-windy
                    .row
                        .col-2.text-md
                                i.wi.wi-night-fog
                        .col-10 .wi-night-fog
                    .row
                        .col-2.text-md
                                i.wi.wi-night-hail
                        .col-10 .wi-night-hail
                    .row
                        .col-2.text-md
                                i.wi.wi-night-lightning
                        .col-10 .wi-night-lightning
                    .row
                        .col-2.text-md
                                i.wi.wi-night-partly-cloudy
                        .col-10 .wi-night-partly-cloudy
                    .row
                        .col-2.text-md
                                i.wi.wi-night-rain
                        .col-10 .wi-night-rain
                    .row
                        .col-2.text-md
                                i.wi.wi-night-rain-mix
                        .col-10 .wi-night-rain-mix
                    .row
                        .col-2.text-md
                                i.wi.wi-night-rain-wind
                        .col-10 .wi-night-rain-wind
                    .row
                        .col-2.text-md
                                i.wi.wi-night-showers
                        .col-10 .wi-night-showers
                    .row
                        .col-2.text-md
                                i.wi.wi-night-sleet
                        .col-10 .wi-night-sleet
                    .row
                        .col-2.text-md
                                i.wi.wi-night-sleet-storm
                        .col-10 .wi-night-sleet-storm
                .col-lg-4
                    .row
                        .col-2.text-md
                                i.wi.wi-night-snow
                        .col-10 .wi-night-snow
                    .row
                        .col-2.text-md
                                i.wi.wi-night-snow-thunderstorm
                        .col-10 .wi-night-snow-thunderstorm
                    .row
                        .col-2.text-md
                                i.wi.wi-night-snow-wind
                        .col-10 .wi-night-snow-wind
                    .row
                        .col-2.text-md
                                i.wi.wi-night-sprinkle
                        .col-10 .wi-night-sprinkle
                    .row
                        .col-2.text-md
                                i.wi.wi-night-storm-showers
                        .col-10 .wi-night-storm-showers
                    .row
                        .col-2.text-md
                                i.wi.wi-night-thunderstorm
                        .col-10 .wi-night-thunderstorm
                    .row
                        .col-2.text-md
                                i.wi.wi-lunar-eclipse
                        .col-10 .wi-lunar-eclipse
                    .row
                        .col-2.text-md
                                i.wi.wi-stars
                        .col-10 .wi-stars
                    .row
                        .col-2.text-md
                                i.wi.wi-storm-showers
                        .col-10 .wi-storm-showers
                    .row
                        .col-2.text-md
                                i.wi.wi-thunderstorm
                        .col-10 .wi-thunderstorm
                    .row
                        .col-2.text-md
                                i.wi.wi-night-alt-cloudy-high
                        .col-10 .wi-night-alt-cloudy-high
                    .row
                        .col-2.text-md
                                i.wi.wi-night-cloudy-high
                        .col-10 .wi-night-cloudy-high
                    .row
                        .col-2.text-md
                                i.wi.wi-night-alt-partly-cloudy
                        .col-10 .wi-night-alt-partly-cloudy
        .col-lg-12
            p.lead.mt-3 Neutral
            .row
                .col-lg-4
                    .row
                        .col-2.text-md
                                i.wi.wi-cloud
                        .col-10 .wi-cloud
                    .row
                        .col-2.text-md
                                i.wi.wi-cloudy
                        .col-10 .wi-cloudy
                    .row
                        .col-2.text-md
                                i.wi.wi-cloudy-gusts
                        .col-10 .wi-cloudy-gusts
                    .row
                        .col-2.text-md
                                i.wi.wi-cloudy-windy
                        .col-10 .wi-cloudy-windy
                    .row
                        .col-2.text-md
                                i.wi.wi-fog
                        .col-10 .wi-fog
                    .row
                        .col-2.text-md
                                i.wi.wi-hail
                        .col-10 .wi-hail
                    .row
                        .col-2.text-md
                                i.wi.wi-rain
                        .col-10 .wi-rain
                    .row
                        .col-2.text-md
                                i.wi.wi-rain-mix
                        .col-10 .wi-rain-mix
                    .row
                        .col-2.text-md
                                i.wi.wi-rain-wind
                        .col-10 .wi-rain-wind
                    .row
                        .col-2.text-md
                                i.wi.wi-showers
                        .col-10 .wi-showers
                    .row
                        .col-2.text-md
                                i.wi.wi-sleet
                        .col-10 .wi-sleet
                    .row
                        .col-2.text-md
                                i.wi.wi-snow
                        .col-10 .wi-snow
                    .row
                        .col-2.text-md
                                i.wi.wi-sprinkle
                        .col-10 .wi-sprinkle
                    .row
                        .col-2.text-md
                                i.wi.wi-storm-showers
                        .col-10 .wi-storm-showers
                .col-lg-4
                    .row
                        .col-2.text-md
                                i.wi.wi-thunderstorm
                        .col-10 .wi-thunderstorm
                    .row
                        .col-2.text-md
                                i.wi.wi-snow-wind
                        .col-10 .wi-snow-wind
                    .row
                        .col-2.text-md
                                i.wi.wi-snow
                        .col-10 .wi-snow
                    .row
                        .col-2.text-md
                                i.wi.wi-smog
                        .col-10 .wi-smog
                    .row
                        .col-2.text-md
                                i.wi.wi-smoke
                        .col-10 .wi-smoke
                    .row
                        .col-2.text-md
                                i.wi.wi-lightning
                        .col-10 .wi-lightning
                    .row
                        .col-2.text-md
                                i.wi.wi-raindrops
                        .col-10 .wi-raindrops
                    .row
                        .col-2.text-md
                                i.wi.wi-raindrop
                        .col-10 .wi-raindrop
                    .row
                        .col-2.text-md
                                i.wi.wi-dust
                        .col-10 .wi-dust
                    .row
                        .col-2.text-md
                                i.wi.wi-snowflake-cold
                        .col-10 .wi-snowflake-cold
                    .row
                        .col-2.text-md
                                i.wi.wi-windy
                        .col-10 .wi-windy
                    .row
                        .col-2.text-md
                                i.wi.wi-strong-wind
                        .col-10 .wi-strong-wind
                    .row
                        .col-2.text-md
                                i.wi.wi-sandstorm
                        .col-10 .wi-sandstorm
                .col-lg-4
                    .row
                        .col-2.text-md
                                i.wi.wi-earthquake
                        .col-10 .wi-earthquake
                    .row
                        .col-2.text-md
                                i.wi.wi-fire
                        .col-10 .wi-fire
                    .row
                        .col-2.text-md
                                i.wi.wi-flood
                        .col-10 .wi-flood
                    .row
                        .col-2.text-md
                                i.wi.wi-meteor
                        .col-10 .wi-meteor
                    .row
                        .col-2.text-md
                                i.wi.wi-tsunami
                        .col-10 .wi-tsunami
                    .row
                        .col-2.text-md
                                i.wi.wi-volcano
                        .col-10 .wi-volcano
                    .row
                        .col-2.text-md
                                i.wi.wi-hurricane
                        .col-10 .wi-hurricane
                    .row
                        .col-2.text-md
                                i.wi.wi-tornado
                        .col-10 .wi-tornado
                    .row
                        .col-2.text-md
                                i.wi.wi-small-craft-advisory
                        .col-10 .wi-small-craft-advisory
                    .row
                        .col-2.text-md
                                i.wi.wi-gale-warning
                        .col-10 .wi-gale-warning
                    .row
                        .col-2.text-md
                                i.wi.wi-storm-warning
                        .col-10 .wi-storm-warning
                    .row
                        .col-2.text-md
                                i.wi.wi-hurricane-warning
                        .col-10 .wi-hurricane-warning
                    .row
                        .col-2.text-md
                                i.wi.wi-wind-direction
                        .col-10 .wi-wind-direction
        .col-lg-12
            p.lead.mt-3 Miscellaneous
            .row
                .col-lg-4
                    .row
                        .col-2.text-md
                                i.wi.wi-alien
                        .col-10 .wi-alien
                    .row
                        .col-2.text-md
                                i.wi.wi-celsius
                        .col-10 .wi-celsius
                    .row
                        .col-2.text-md
                                i.wi.wi-fahrenheit
                        .col-10 .wi-fahrenheit
                    .row
                        .col-2.text-md
                                i.wi.wi-degrees
                        .col-10 .wi-degrees
                    .row
                        .col-2.text-md
                                i.wi.wi-thermometer
                        .col-10 .wi-thermometer
                    .row
                        .col-2.text-md
                                i.wi.wi-thermometer-exterior
                        .col-10 .wi-thermometer-exterior
                    .row
                        .col-2.text-md
                                i.wi.wi-thermometer-internal
                        .col-10 .wi-thermometer-internal
                    .row
                        .col-2.text-md
                                i.wi.wi-cloud-down
                        .col-10 .wi-cloud-down
                    .row
                        .col-2.text-md
                                i.wi.wi-cloud-up
                        .col-10 .wi-cloud-up
                .col-lg-4
                    .row
                        .col-2.text-md
                                i.wi.wi-cloud-refresh
                        .col-10 .wi-cloud-refresh
                    .row
                        .col-2.text-md
                                i.wi.wi-horizon
                        .col-10 .wi-horizon
                    .row
                        .col-2.text-md
                                i.wi.wi-horizon-alt
                        .col-10 .wi-horizon-alt
                    .row
                        .col-2.text-md
                                i.wi.wi-sunrise
                        .col-10 .wi-sunrise
                    .row
                        .col-2.text-md
                                i.wi.wi-sunset
                        .col-10 .wi-sunset
                    .row
                        .col-2.text-md
                                i.wi.wi-moonrise
                        .col-10 .wi-moonrise
                    .row
                        .col-2.text-md
                                i.wi.wi-moonset
                        .col-10 .wi-moonset
                .col-lg-4
                    .row
                        .col-2.text-md
                                i.wi.wi-refresh
                        .col-10 .wi-refresh
                    .row
                        .col-2.text-md
                                i.wi.wi-refresh-alt
                        .col-10 .wi-refresh-alt
                    .row
                        .col-2.text-md
                                i.wi.wi-umbrella
                        .col-10 .wi-umbrella
                    .row
                        .col-2.text-md
                                i.wi.wi-barometer
                        .col-10 .wi-barometer
                    .row
                        .col-2.text-md
                                i.wi.wi-humidity
                        .col-10 .wi-humidity
                    .row
                        .col-2.text-md
                                i.wi.wi-na
                        .col-10 .wi-na
                    .row
                        .col-2.text-md
                                i.wi.wi-train
                        .col-10 .wi-train
        .col-lg-12
            p.lead.mt-3 Moon Phases
            .row
                .col-lg-4
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-new
                        .col-10 .wi-moon-new
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-waxing-crescent-1
                        .col-10 .wi-moon-waxing-crescent-1
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-waxing-crescent-2
                        .col-10 .wi-moon-waxing-crescent-2
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-waxing-crescent-3
                        .col-10 .wi-moon-waxing-crescent-3
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-waxing-crescent-4
                        .col-10 .wi-moon-waxing-crescent-4
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-waxing-crescent-5
                        .col-10 .wi-moon-waxing-crescent-5
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-waxing-crescent-6
                        .col-10 .wi-moon-waxing-crescent-6
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-first-quarter
                        .col-10 .wi-moon-first-quarter
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-waxing-gibbous-1
                        .col-10 .wi-moon-waxing-gibbous-1
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-waxing-gibbous-2
                        .col-10 .wi-moon-waxing-gibbous-2
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-waxing-gibbous-3
                        .col-10 .wi-moon-waxing-gibbous-3
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-waxing-gibbous-4
                        .col-10 .wi-moon-waxing-gibbous-4
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-waxing-gibbous-5
                        .col-10 .wi-moon-waxing-gibbous-5
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-waxing-gibbous-6
                        .col-10 .wi-moon-waxing-gibbous-6
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-full
                        .col-10 .wi-moon-full
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-waning-gibbous-1
                        .col-10 .wi-moon-waning-gibbous-1
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-waning-gibbous-2
                        .col-10 .wi-moon-waning-gibbous-2
                .col-lg-4
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-waning-gibbous-3
                        .col-10 .wi-moon-waning-gibbous-3
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-waning-gibbous-4
                        .col-10 .wi-moon-waning-gibbous-4
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-waning-gibbous-5
                        .col-10 .wi-moon-waning-gibbous-5
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-waning-gibbous-6
                        .col-10 .wi-moon-waning-gibbous-6
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-third-quarter
                        .col-10 .wi-moon-third-quarter
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-waning-crescent-1
                        .col-10 .wi-moon-waning-crescent-1
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-waning-crescent-2
                        .col-10 .wi-moon-waning-crescent-2
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-waning-crescent-3
                        .col-10 .wi-moon-waning-crescent-3
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-waning-crescent-4
                        .col-10 .wi-moon-waning-crescent-4
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-waning-crescent-5
                        .col-10 .wi-moon-waning-crescent-5
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-waning-crescent-6
                        .col-10 .wi-moon-waning-crescent-6
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-alt-new
                        .col-10 .wi-moon-alt-new
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-alt-waxing-crescent-1
                        .col-10 .wi-moon-alt-waxing-crescent-1
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-alt-waxing-crescent-2
                        .col-10 .wi-moon-alt-waxing-crescent-2
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-alt-waxing-crescent-3
                        .col-10 .wi-moon-alt-waxing-crescent-3
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-alt-waxing-crescent-4
                        .col-10 .wi-moon-alt-waxing-crescent-4
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-alt-waxing-crescent-5
                        .col-10 .wi-moon-alt-waxing-crescent-5
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-alt-waxing-crescent-6
                        .col-10 .wi-moon-alt-waxing-crescent-6
                .col-lg-4
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-alt-first-quarter
                        .col-10 .wi-moon-alt-first-quarter
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-alt-waxing-gibbous-1
                        .col-10 .wi-moon-alt-waxing-gibbous-1
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-alt-waxing-gibbous-2
                        .col-10 .wi-moon-alt-waxing-gibbous-2
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-alt-waxing-gibbous-3
                        .col-10 .wi-moon-alt-waxing-gibbous-3
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-alt-waxing-gibbous-4
                        .col-10 .wi-moon-alt-waxing-gibbous-4
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-alt-waxing-gibbous-5
                        .col-10 .wi-moon-alt-waxing-gibbous-5
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-alt-waxing-gibbous-6
                        .col-10 .wi-moon-alt-waxing-gibbous-6
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-alt-full
                        .col-10 .wi-moon-alt-full
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-alt-waning-gibbous-1
                        .col-10 .wi-moon-alt-waning-gibbous-1
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-alt-waning-gibbous-2
                        .col-10 .wi-moon-alt-waning-gibbous-2
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-alt-waning-gibbous-3
                        .col-10 .wi-moon-alt-waning-gibbous-3
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-alt-waning-gibbous-4
                        .col-10 .wi-moon-alt-waning-gibbous-4
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-alt-waning-gibbous-5
                        .col-10 .wi-moon-alt-waning-gibbous-5
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-alt-waning-gibbous-6
                        .col-10 .wi-moon-alt-waning-gibbous-6
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-alt-third-quarter
                        .col-10 .wi-moon-alt-third-quarter
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-alt-waning-crescent-1
                        .col-10 .wi-moon-alt-waning-crescent-1
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-alt-waning-crescent-2
                        .col-10 .wi-moon-alt-waning-crescent-2
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-alt-waning-crescent-3
                        .col-10 .wi-moon-alt-waning-crescent-3
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-alt-waning-crescent-4
                        .col-10 .wi-moon-alt-waning-crescent-4
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-alt-waning-crescent-5
                        .col-10 .wi-moon-alt-waning-crescent-5
                    .row
                        .col-2.text-md
                                i.wi.wi-moon-alt-waning-crescent-6
                        .col-10 .wi-moon-alt-waning-crescent-6
        .col-lg-12
            p.lead.mt-3 Time
            .row
                .col-lg-4
                    .row
                        .col-2.text-md
                                i.wi.wi-time-1
                        .col-10 .wi-time-1
                    .row
                        .col-2.text-md
                                i.wi.wi-time-2
                        .col-10 .wi-time-2
                    .row
                        .col-2.text-md
                                i.wi.wi-time-3
                        .col-10 .wi-time-3
                    .row
                        .col-2.text-md
                                i.wi.wi-time-4
                        .col-10 .wi-time-4
                .col-lg-4
                    .row
                        .col-2.text-md
                                i.wi.wi-time-5
                        .col-10 .wi-time-5
                    .row
                        .col-2.text-md
                                i.wi.wi-time-6
                        .col-10 .wi-time-6
                    .row
                        .col-2.text-md
                                i.wi.wi-time-7
                        .col-10 .wi-time-7
                    .row
                        .col-2.text-md
                                i.wi.wi-time-8
                        .col-10 .wi-time-8
                .col-lg-4
                    .row
                        .col-2.text-md
                                i.wi.wi-time-9
                        .col-10 .wi-time-9
                    .row
                        .col-2.text-md
                                i.wi.wi-time-10
                        .col-10 .wi-time-10
                    .row
                        .col-2.text-md
                                i.wi.wi-time-11
                        .col-10 .wi-time-11
                    .row
                        .col-2.text-md
                                i.wi.wi-time-12
                        .col-10 .wi-time-12
        .col-lg-12
            p.lead.mt-3 Directional Arrows
            .row
                .col-lg-4
                    .row
                        .col-2.text-md
                                i.wi.wi-direction-up
                        .col-10 .wi-direction-up
                    .row
                        .col-2.text-md
                                i.wi.wi-direction-up-right
                        .col-10 .wi-direction-up-right
                    .row
                        .col-2.text-md
                                i.wi.wi-direction-right
                        .col-10 .wi-direction-right
                .col-lg-4
                    .row
                        .col-2.text-md
                                i.wi.wi-direction-down-right
                        .col-10 .wi-direction-down-right
                    .row
                        .col-2.text-md
                                i.wi.wi-direction-down
                        .col-10 .wi-direction-down
                .col-lg-4
                    .row
                        .col-2.text-md
                                i.wi.wi-direction-down-left
                        .col-10 .wi-direction-down-left
                    .row
                        .col-2.text-md
                                i.wi.wi-direction-left
                        .col-10 .wi-direction-left
                    .row
                        .col-2.text-md
                                i.wi.wi-direction-up-left
                        .col-10 .wi-direction-up-left
        .col-lg-12
            p.lead.mt-3 Wind Degree Examples
            .row
                .col-lg-4
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.towards-0-deg
                        .col-10 .wi-wind.towards-0-deg
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.towards-23-deg
                        .col-10 .wi-wind.towards-23-deg
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.towards-45-deg
                        .col-10 .wi-wind.towards-45-deg
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.towards-68-deg
                        .col-10 .wi-wind.towards-68-deg
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.towards-90-deg
                        .col-10 .wi-wind.towards-90-deg
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.towards-113-deg
                        .col-10 .wi-wind.towards-113-deg
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.towards-135-deg
                        .col-10 .wi-wind.towards-135-deg
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.towards-158-deg
                        .col-10 .wi-wind.towards-158-deg
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.towards-180-deg
                        .col-10 .wi-wind.towards-180-deg
                .col-lg-4
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.towards-203-deg
                        .col-10 .wi-wind.towards-203-deg
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.towards-225-deg
                        .col-10 .wi-wind.towards-225-deg
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.towards-248-deg
                        .col-10 .wi-wind.towards-248-deg
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.towards-270-deg
                        .col-10 .wi-wind.towards-270-deg
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.towards-293-deg
                        .col-10 .wi-wind.towards-293-deg
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.towards-313-deg
                        .col-10 .wi-wind.towards-313-deg
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.towards-336-deg
                        .col-10 .wi-wind.towards-336-deg
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.from-180-deg
                        .col-10 .wi-wind.from-180-deg
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.from-203-deg
                        .col-10 .wi-wind.from-203-deg
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.from-225-deg
                        .col-10 .wi-wind.from-225-deg
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.from-248-deg
                        .col-10 .wi-wind.from-248-deg
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.from-270-deg
                        .col-10 .wi-wind.from-270-deg
                .col-lg-4
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.from-293-deg
                        .col-10 .wi-wind.from-293-deg
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.from-313-deg
                        .col-10 .wi-wind.from-313-deg
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.from-336-deg
                        .col-10 .wi-wind.from-336-deg
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.from-0-deg
                        .col-10 .wi-wind.from-0-deg
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.from-23-deg
                        .col-10 .wi-wind.from-23-deg
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.from-45-deg
                        .col-10 .wi-wind.from-45-deg
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.from-68-deg
                        .col-10 .wi-wind.from-68-deg
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.from-90-deg
                        .col-10 .wi-wind.from-90-deg
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.from-113-deg
                        .col-10 .wi-wind.from-113-deg
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.from-135-deg
                        .col-10 .wi-wind.from-135-deg
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.from-158-deg
                        .col-10 .wi-wind.from-158-deg
        .col-lg-12
            p.lead.mt-3 Wind Cardinal Examples
            .row
                .col-lg-4
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.wi-towards-n
                        .col-10 .wi-towards-n
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.wi-towards-nne
                        .col-10 .wi-towards-nne
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.wi-towards-ne
                        .col-10 .wi-towards-ne
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.wi-towards-ene
                        .col-10 .wi-towards-ene
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.wi-towards-e
                        .col-10 .wi-towards-e
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.wi-towards-ese
                        .col-10 .wi-towards-ese
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.wi-towards-se
                        .col-10 .wi-towards-se
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.wi-towards-sse
                        .col-10 .wi-towards-sse
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.wi-towards-s
                        .col-10 .wi-towards-s
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.wi-towards-ssw
                        .col-10 .wi-towards-ssw
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.wi-towards-sw
                        .col-10 .wi-towards-sw
                .col-lg-4
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.wi-towards-wsw
                        .col-10 .wi-towards-wsw
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.wi-towards-w
                        .col-10 .wi-towards-w
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.wi-towards-wnw
                        .col-10 .wi-towards-wnw
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.wi-towards-nw
                        .col-10 .wi-towards-nw
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.wi-towards-nnw
                        .col-10 .wi-towards-nnw
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.wi-from-n
                        .col-10 .wi-wind.wi-from-n
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.wi-from-nne
                        .col-10 .wi-wind.wi-from-nne
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.wi-from-ne
                        .col-10 .wi-wind.wi-from-ne
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.wi-from-ene
                        .col-10 .wi-wind.wi-from-ene
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.wi-from-e
                        .col-10 .wi-wind.wi-from-e
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.wi-from-ese
                        .col-10 .wi-wind.wi-from-ese
                .col-lg-4
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.wi-from-se
                        .col-10 .wi-wind.wi-from-se
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.wi-from-sse
                        .col-10 .wi-wind.wi-from-sse
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.wi-from-s
                        .col-10 .wi-wind.wi-from-s
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.wi-from-ssw
                        .col-10 .wi-wind.wi-from-ssw
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.wi-from-sw
                        .col-10 .wi-wind.wi-from-sw
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.wi-from-wsw
                        .col-10 .wi-wind.wi-from-wsw
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.wi-from-w
                        .col-10 .wi-wind.wi-from-w
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.wi-from-wnw
                        .col-10 .wi-wind.wi-from-wnw
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.wi-from-nw
                        .col-10 .wi-wind.wi-from-nw
                    .row
                        .col-2.text-md
                                i.wi.wi-wind.wi-from-nnw
                        .col-10 .wi-wind.wi-from-nnw
        .col-lg-12
            p.lead.mt-3 Beaufort Wind Scale
            .row
                .col-lg-4
                    .row
                        .col-2.text-md
                                i.wi.wi-wind-beaufort-0
                        .col-10 .wi-wind-beaufort-0
                    .row
                        .col-2.text-md
                                i.wi.wi-wind-beaufort-1
                        .col-10 .wi-wind-beaufort-1
                    .row
                        .col-2.text-md
                                i.wi.wi-wind-beaufort-2
                        .col-10 .wi-wind-beaufort-2
                    .row
                        .col-2.text-md
                                i.wi.wi-wind-beaufort-3
                        .col-10 .wi-wind-beaufort-3
                .col-lg-4
                    .row
                        .col-2.text-md
                                i.wi.wi-wind-beaufort-4
                        .col-10 .wi-wind-beaufort-4
                    .row
                        .col-2.text-md
                                i.wi.wi-wind-beaufort-5
                        .col-10 .wi-wind-beaufort-5
                    .row
                        .col-2.text-md
                                i.wi.wi-wind-beaufort-6
                        .col-10 .wi-wind-beaufort-6
                    .row
                        .col-2.text-md
                                i.wi.wi-wind-beaufort-7
                        .col-10 .wi-wind-beaufort-7
                .col-lg-4
                    .row
                        .col-2.text-md
                                i.wi.wi-wind-beaufort-8
                        .col-10 .wi-wind-beaufort-8
                    .row
                        .col-2.text-md
                                i.wi.wi-wind-beaufort-9
                        .col-10 .wi-wind-beaufort-9
                    .row
                        .col-2.text-md
                                i.wi.wi-wind-beaufort-10
                        .col-10 .wi-wind-beaufort-10
                    .row
                        .col-2.text-md
                                i.wi.wi-wind-beaufort-11
                        .col-10 .wi-wind-beaufort-11
                    .row
                        .col-2.text-md
                                i.wi.wi-wind-beaufort-12
                        .col-10 .wi-wind-beaufort-12


block vendor_css
  // WEATHER ICONS
  link(rel='stylesheet', href='vendor/weather-icons/css/weather-icons.css')
  link(rel='stylesheet', href='vendor/weather-icons/css/weather-icons-wind.css')
block vendor_js
