extends ../../_layout

block active
    - sidebar_active = 'template.html'

block content
    .content-heading
        div
            | Page title
            small Subtitle

    .row
        .col-xl-12
            p A row with content
