h3.text-center.text-thin.mt-4 Connections

.list-group
    // START list title
    .list-group-item.border-0
        small.text-muted ONLINE
    // END list title
    .list-group-item.list-group-item-action.border-0
        .media
            img.align-self-center.mr-3.rounded-circle.thumb48(src='img/user/05.jpg', alt="Image")
            .media-body.text-truncate
                a(href="#"): strong Juan Sims
                br
                small.text-muted Designeer
            .ml-auto
                span.circle.bg-success.circle-lg
    .list-group-item.list-group-item-action.border-0
        .media
            img.align-self-center.mr-3.rounded-circle.thumb48(src='img/user/06.jpg', alt="Image")
            .media-body.text-truncate
                a(href="#"): strong Maureen Jenkins
                br
                small.text-muted Designeer
            .ml-auto
                span.circle.bg-success.circle-lg
    .list-group-item.list-group-item-action.border-0
        .media
            img.align-self-center.mr-3.rounded-circle.thumb48(src='img/user/07.jpg', alt="Image")
            .media-body.text-truncate
                a(href="#"): strong Billie Dunn
                br
                small.text-muted Designeer
            .ml-auto
                span.circle.bg-danger.circle-lg
    .list-group-item.list-group-item-action.border-0
        .media
            img.align-self-center.mr-3.rounded-circle.thumb48(src='img/user/08.jpg', alt="Image")
            .media-body.text-truncate
                a(href="#"): strong Tomothy Roberts
                br
                small.text-muted Designeer
            .ml-auto
                span.circle.bg-warning.circle-lg
    // START list title
    .list-group-item.border-0
        small.text-muted OFFLINE
    // END list title
    .list-group-item.list-group-item-action.border-0
        .media
            img.align-self-center.mr-3.rounded-circle.thumb48(src='img/user/09.jpg', alt="Image")
            .media-body.text-truncate
                a(href="#"): strong Lawrence Robinson
                br
                small.text-muted Designeer
            .ml-auto
                span.circle.bg-warning.circle-lg
    .list-group-item.list-group-item-action.border-0
        .media
            img.align-self-center.mr-3.rounded-circle.thumb48(src='img/user/10.jpg', alt="Image")
            .media-body.text-truncate
                a(href="#"): strong Tyrone Owens
                br
                small.text-muted Designeer
            .ml-auto
                span.circle.bg-warning.circle-lg

.px-3.py-4.text-center
    // Optional link to list more users
    a.btn.btn-purple.btn-sm(href="#", title="See more contacts")
        strong Load more..

// Extra items
.px-3.py-2
    p: small.text-muted Tasks completion
    .progress.progress-xs.m-0
        .progress-bar.bg-success(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style="width: 80%")
            span.sr-only 80% Complete
.px-3.py-2
    p: small.text-muted Upload quota
    .progress.progress-xs.m-0
        .progress-bar.bg-warning(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style="width: 40%")
            span.sr-only 40% Complete