// =============== VENDOR SCRIPTS ===============

// MODERNIZR
script(src='vendor/modernizr/modernizr.custom.js')
// STORAGE API
script(src='vendor/js-storage/js.storage.js')
// SCREENFULL
script(src='vendor/screenfull/dist/screenfull.js')
// i18next
script(src='vendor/i18next/i18next.js')
script(src='vendor/i18next-xhr-backend/i18nextXHRBackend.js')
//- JQUERY
script(src='vendor/jquery/dist/jquery.js')
//- BOOTSTRAP
script(src='vendor/popper.js/dist/umd/popper.js')
script(src='vendor/bootstrap/dist/js/bootstrap.js')


// =============== PAGE VENDOR SCRIPTS ===============
block vendor_js
    //- This block will include specific vendor assets

// =============== APP SCRIPTS ===============
script(src='js/app.js')