// START Top Navbar
nav.navbar.topnavbar
    // START navbar header
    .navbar-header
        a.navbar-brand(href='#/')
            .brand-logo
                img.img-fluid(src="img/logo.png", alt="App Logo")
            .brand-logo-collapsed
                img.img-fluid(src="img/logo-single.png", alt="App Logo")
    // END navbar header

    // START Left navbar
    ul.navbar-nav.mr-auto.flex-row
        li.nav-item
            // Button used to collapse the left sidebar. Only visible on tablet and desktops
            a.nav-link(href='#', data-trigger-resize="", data-toggle-state="aside-collapsed").d-none.d-md-block.d-lg-block.d-xl-block
                em.fas.fa-bars
            // Button to show/hide the sidebar on mobile. Visible on mobile only.
            a.nav-link.sidebar-toggle(href='#', data-toggle-state="aside-toggled", data-no-persist="true").d-md-none
                em.fas.fa-bars
        // START User avatar toggle
        li.nav-item.d-none.d-md-block
            // Button used to collapse the left sidebar. Only visible on tablet and desktops
            a.nav-link#user-block-toggle(href='#user-block', data-toggle="collapse")
                em.icon-user
        // END User avatar toggle
        // START lock screen
        li.nav-item.d-none.d-md-block
            a.nav-link(href="lock.html", title="Lock screen")
                em.icon-lock
        // END lock screen
    // END Left navbar

    // START Right Navbar
    ul.navbar-nav.flex-row
        // Search icon
        li.nav-item
            a.nav-link(href='#', data-search-open="")
                em.icon-magnifier
        // Fullscreen (only desktops)
        li.nav-item.d-none.d-md-block
            a.nav-link(href='#', data-toggle-fullscreen="")
                em.fas.fa-expand
        // START Alert menu
        li.nav-item.dropdown.dropdown-list
            a.nav-link.dropdown-toggle.dropdown-toggle-nocaret(href="#", data-toggle="dropdown")
                em.icon-bell
                span.badge.badge-danger 11
            // START Dropdown menu
            .dropdown-menu.dropdown-menu-right(class="animated flipInX")
                .dropdown-item
                    // START list group
                    .list-group
                        // list item
                        .list-group-item.list-group-item-action
                            .media
                                .align-self-start.mr-2
                                    em.fab.fa-twitter.fa-2x.text-info
                                .media-body
                                        p.m-0 New followers
                                        p.m-0.text-muted.text-sm 1 new follower
                        // list item
                        .list-group-item.list-group-item-action
                            .media
                                .align-self-start.mr-2
                                    em.fas.fa-envelope.fa-2x.text-warning
                                .media-body
                                        p.m-0 New e-mails
                                        p.m-0.text-muted.text-sm You have 10 new emails
                        // list item
                        .list-group-item.list-group-item-action
                            .media
                                .align-self-start.mr-2
                                    em.fas.fa-tasks.fa-2x.text-success
                                .media-body
                                        p.m-0 Pending Tasks
                                        p.m-0.text-muted.text-sm 11 pending task
                        // last list item
                        .list-group-item.list-group-item-action
                            span.d-flex.align-items-center
                                    span.text-sm More notifications
                                    span.badge.badge-danger.ml-auto 14
                    // END list group
            // END Dropdown menu
        // END Alert menu
        // START Offsidebar button
        li.nav-item
            a.nav-link(href='#', data-toggle-state="offsidebar-open", data-no-persist="true")
                em.icon-notebook
        // END Offsidebar menu
    // END Right Navbar

    // START Search form
    form.navbar-form(role='search', action="search.html")
        .form-group
            input.form-control(type='text', placeholder="Type and hit enter ...")
            .fas.fa-times.navbar-form-close(data-search-dismiss="")
        button.d-none(type='submit') Submit
    // END Search form

// END Top Navbar