extends ../../_layout

block active
    - sidebar_active = 'multilevel-3.html'

block content
    .content-heading
        div
            | Page title
            small Subtitle

    .row
        .col-xl-12
            p.lead.text-center Menu item @ Level 3
